.parent-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width:576px) {
    .parent-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .custom-input{
        width: 30%;
    }
    
}